.tfs-item{
    margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
    
}

.tfs-price-item{
    position: relative;
    left: 140px;
    top: 40px;
    font-weight: 500;
    color: #373A36;
    padding: 5px 10px;
    background-color: #D48166;
    border-radius: 25px;
}

.tfs-cover-item{
    width: 200px;
    height: 267px;
}

.tfs-name-item{
    width: 100%;
    color: #373A36;
    padding: 5px 10px;
    background-color: #D48166;
}